/* @import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Work+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
  color: var(--color);
  scroll-behavior: smooth;
}
:root {
  --bg: rgba(5, 5, 5, 0.95);
  --bg-dark: rgba(193, 206, 193, 0.62);
  --color: rgba(255, 252, 252, 0.84);
  --light-color: #eaeaea;
  --primary-color: #2fb4b2;
  --secondary-color: rgba(26, 11, 125, 0.57);
  --font: 'Crimson Text', serif;
  --secondary-font: 'Work Sans', sans-serif;
}
body {
  background: var(--bg);
  color: var(--color);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- main section ---------- */

#main {
  width: 100%;
  /* height: 50em; */
    padding: 5em 0;
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
#main::before {
  content: "";
  width: 100%;
  height: 30em;
  position: absolute;
  right: 25em;
  z-index: -1;
  background: rgba(5, 5, 5, 0.02);
}
#main .user_info {
  margin: 0 30px;
}

#main .user_info .user_name {
  font-family: var(--font);
  font-size: 5em;
}

#main p {
  font-family: var(--secondary-font);
  font-size: 1.5em;
  color: var(--light-color);
  margin-bottom: 1.5em;
}
#main .user_img img {
  width: 18.5em;
  height: 19.5em;
  margin:0 -30px;
border: 4px inset rgba(143, 170, 170, 0.53);
border-radius: 0px 40px 0px 40px;
}



#main .user_info .btn {

  padding: 0.6em 2.3em;
  background: none;
  color: var(--color);
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  transition: all 0.5s;
  margin-left: 15px;
}
#main .user_info .btn:hover {
  background: var(--secondary-color);
}





/* ---------- about section ---------- */
.about {
  width: 100%;
  background: #1a1a1a;
  padding: 6em 0;
}

.about div{
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
}
.about img{
  width: 25em;
  margin: 2em;
}
.about_heading {
  font-size: 6em;
  font-family: var(--font);
  margin-bottom: 0.3em;
}
.about p {
  font-size: 1.4em;
  color: var(--color);
  opacity: 0.6;
}

/* ---------- skills section ---------- */
.skills {
  width: 100%;
  /* height: 50em; */
  margin: 2em 0;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
}
.skills::before,
.skills::after {
  content: "";
  position: absolute;
  width: 20em;
  height: 20em;
  background: rgba(183, 233, 246, 0.39); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    rgba(73, 132, 151, 0.63)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(2, 3, 3, 0.81),
    rgba(2, 23, 68, 0.51)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50%;
}
.skills::before {
  left: -10em;
  bottom: 0;
}
.skills::after {
  right: -10em;
  top: 8em;
  background: rgba(73, 132, 151, 0.63); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(73, 132, 151, 0.63),
    rgba(73, 132, 151, 0.63)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(129, 255, 255, 0.14),
    rgba(2, 3, 3, 0.28)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.skill_box {
  flex-wrap: wrap;
}
.skill_box .box {
  margin: 2em 2em;
  width: 15em;
  height: 12em;
  background: var(--bg-dark);
  background: rgba(255, 255, 255, 0.089);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.skill_box .box::before {
  content: "";
  position: absolute;
  background: var(--secondary-color);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: bottom;
  transform: scaleY(0.03);
  transition: all 0.3s;
}
.skill_box .box:hover::before {
  transform: scaleY(1);
}
.skill_box .box i {
  margin-bottom: 0.1em;
}
.skill_head {
  font-size: 6em;
  font-family: var(--font);
}

/* ---------- projects ---------- */
.projects {
  width: 100%;
  padding: 2em 0;
  position: relative;
  flex-direction: column;
  background: #1a1a1a;
  overflow-x: hidden;
}
.project_img1{
  width: 450px;
  position: absolute;
  left: 70px;
  top: 30px;
}


.project_img2{
  width: 450px;
  position: absolute;
  left: 90px;
  top: 540px;

}

.projects::before,
.projects::after {
  content: "";
  position: absolute;
  width: 20em;
  height: 20em;
  background: rgba(3, 8, 47, 0.53);
  background: -webkit-linear-gradient(
    to right,
    rgba(23, 30, 184, 0.53),
    rgba(13, 51, 135, 0.6)
  );
  background: linear-gradient(
    to right,
    rgba(8, 10, 1, 0.5),
    rgba(140, 227, 5, 0.26)
  );
  border-radius: 50%;
}
.projects::before {
  left: -10em;
  bottom: 0;
}
.projects::after {
  right: -10em;
  top: 8em;
  background: rgba(45, 226, 205, 0.6);
  background: -webkit-linear-gradient(
    to right,
    rgba(15, 0, 224, 0.56),
    rgba(29, 1, 3, 0.84)
  );
  background: linear-gradient(
    to right,
    rgba(136, 76, 255, 0.13),
    rgba(12, 12, 12, 0.76)
  );
}
.projects .project_heading {
  margin-bottom: 0.4em;
  font-size: 6em;
  font-family: var(--font);
}
.projects .container {
  width: 100%;
  flex-wrap: wrap;
  z-index: 1;
}
.projects .container .main_box {
  width: 25em;
  height: 7em;
  margin: 1em 1em;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}
.projects .main_box2 {
  width: 25em;
  height: 7em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 95px;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}
.projects .main_box3 {
  width: 25em;
  height: 7em;
  margin: 1em 1em;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}

.projects .container .main_box .box {
  width: 20em;
  margin-left: 0.8em;
  padding-right: 0.5em;
}

.projects .container .main_box2 .box {
  width: 20em;
  margin-left: 0.8em;
  padding-right: 0.5em;
}

.projects .container .main_box3 .box {
  width: 20em;
  margin-left: 0.8em;
  padding-right: 0.5em;
}
.projects .container .main_box .box  :is(h1,h2,h3,p) {
  margin-bottom: 0.5em;
}

/* ---------- courses ---------- */

.courses {
  width: 100%;
  margin: 2em 0;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
}
.courses::before,
.courses::after {
  content: "";
  position: absolute;
  width: 20em;
  height: 20em;
  background: rgba(183, 233, 246, 0.39);
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    rgba(198, 216, 220, 0.43)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(2, 3, 3, 0.81),
    rgba(2, 23, 68, 0.51)
  );
  border-radius: 70%;
}
.courses::before {
  left: -10em;
  bottom: 0;
}
.courses::after {
  right: -10em;
  top: 8em;
  background: rgba(198, 230, 239, 0.32);
  background: -webkit-linear-gradient(
    to right,
    rgba(86, 96, 108, 0.63),
    rgba(73, 132, 151, 0.63)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(104, 252, 252, 0.14),
    rgba(2, 3, 3, 0.28)
  );
}
.courses_box {
  flex-wrap: wrap;
}
.courses_box .box {
  margin: 2em 2em;
  width: 25em;
  height: 8em;
  background: var(--bg-dark);
  background: rgba(4, 5, 21, 0.74);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.courses_box .box::before {
  content: "";
  position: absolute;
  background: var(--secondary-color);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: left;
  transform: scaleY(0.7);
  transition: all 0.3s;
}

.courses_box .box:hover::before {
  transform: scaleY(1);
}
.courses_box .box i {
  margin-bottom: 0.1em;
}
.course_head {
  position: center;
  margin-left: 90px;
  font-size: 5em;
  font-family: var(--font);
}

/* ---------- footer ---------- */
footer{
    width: 100%;
    padding: 3em 0;
    flex-direction: column;
    background: #1a1a1a;
}
footer .social_media_icons{
    margin-top: 1em;
}
footer .social_media_icons a{
    margin: 0 .8em;
    border-radius: 50px;
}
footer .social_media_icons a i{
    font-size: 1.8em;
    padding: 0.2em;
    transition: color 0.4s;
}
footer .social_media_icons a:hover i{
    font-size: 1.8em;
    padding: 0.2em;
    color: rgba(54, 54, 54, 0.966);
}


/* --------- toggle ---------- */
.toggle{
  width: 200px;
  height: 200px;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  background: rgba(20, 20, 20, 0.178);
  position: fixed;
  top: 250px;
  right: 10px;
  z-index: 100;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all .4s;
}
.toggle .box a{
  flex-direction: column;
  text-decoration: none;
}
.toggle .box a i{
  font-size: 18px;
}
.toggle .box a p{
  font-size: 12px;
  margin-top: 8px
}
.toggle .box:nth-child(2){
  width: 100%;
  justify-content: space-evenly;
}
.toggle .box input{
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 10px;
  background: rgb(31, 31, 31);
  border: 6px solid rgba(255, 255, 255, 0.459);
}
.toggle.active .box input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.toggle.active{
  width: 50px;
  height: 50px;
  overflow: hidden;
}
/* ---------- Media Query ---------- */
@media (max-width: 1120px) {
  #main .user_img img {
    width: 40em;
    height: 40em;
  }
  .skills {
    height: 100%;
    padding: 5em 0;
  }
  .about {
    flex-direction: column;
  }
  .about div{
    width: 70%;
  }
}
@media (max-width: 900px) {
  .skills {
    height: 100%;
    padding: 5em 0;
  }
  .skill_box .box {
    margin: 2em .6em;
    width: 12em;
    height: 8em;
  }
  .skill_head {
    font-size: 5em;
    font-family: var(--font);
  }
  .about_heading {
    font-size: 5em;
    font-family: var(--font);
  }
  .projects .project_heading {
    margin-bottom: 0.4em;
    font-size: 5em;
    font-family: var(--font);
  }
}
@media (max-width: 700px) {
  body {
    font-size: 13px;
  }
  .skill_box .box{
    margin: 2em 0.5em;
    width: 12em;
    height: 8em;
  }
}
@media (max-width: 450px) {
  #main .user_img img{
    width: 20em;
    height: 20em;
  }
  .projects .container .main_box .icon{
    height: 100%;
    padding: 0.2em;
  }
  .projects .container .main_box {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2em 0.2em;
  }
}

@media (max-width: 350px) {
  body{
    font-size: 8px;
  }
}